.sign {
    max-width: 100px;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
}

.sign:hover {
    background: #00CED1;
    box-shadow: 4px 4px 30px  #00CED1;
}